<div class="container">
  <form>
    <div class="mb-3">
      <label for="fechaEntrada" class="form-label">Fecha Entrada</label>
      <input type="text" class="form-control" id="fechaEntrada" name="fecha_entrada" pattern="\d{1,2}/\d{1,2}/\d{4}" [(ngModel)]="reserva.fecha_entrada">
    </div>
    <div class="mb-3">
      <label for="fechaSalida" class="form-label">Fecha Salida</label>
      <input type="text" class="form-control" id="fechaSalida" name="fecha_salida" pattern="\d{1,2}/\d{1,2}/\d{4}" [(ngModel)]="reserva.fecha_salida">
    </div>
    <div class="mb-3">
      <label for="importe" class="form-label">Importe</label>
      <input type="text" class="form-control" id="importe" name="importe"  [(ngModel)]="reserva.importe">
    </div>
    <div class="mb-3">
      <label for="id_cliente" class="form-label">Id Cliente</label>
      <input type="text" class="form-control" id="id_cliente" name="id_cliente" [(ngModel)]="reserva.id_cliente">
    </div>
    <div class="mb-3">
      <label for="id_hotel" class="form-label">Id Hotel</label>
      <input type="text" class="form-control" id="id_hotel" name="id_hotel"  [(ngModel)]="reserva.id_hotel">
    </div>
    <button role="button" class="btn btn-primary" (click)='create()' *ngIf="!reserva.id else elseBlock">Crear reserva</button>
    <ng-template #elseBlock>
      <button role="button" class="btn btn-primary" (click)='update()'>Actualizar reserva</button>
    </ng-template>
  </form>
</div>


