<div>
  <h1 class="titulo">
    Bienvenid@
  </h1>
<div class="texto">
  <a>
    Bienvenido a el panel de control de Don Reservas, en el sidebar puedes navegar por los paneles hacia las diferentes opciones.
    <br>
    Toda la informacion relacionada con cada seccion ,incluyendo las opciones de:
    <br>
    -Crear nuevas
    <br>
    -Editar existentes
    <br>
    -Borrar
    <br>
  </a>
  
</div>
  <div class="imagen">
    <img src="../../assets/Don-reservas.png" height="200" loading="lazy" />
  </div>
</div>
