<div>
  <h1 class="titulo">
    Bienvenid@
  </h1>
  <a>
    Bienvenido a el panel de control de Don Reservas, en el sidebar puedes navegar por los paneles hacia las diferentes opciones.
    <br>
    <h5>Hoteles:</h5> Toda la informacion relacionada con los hoteles,incluyendo las opciones de:
    <br>
    -Crear hoteles
    <br>
    -Editar hoteles
    <br>
    -Borrar hoteles

  </a>
  <div class="imagen">
    <img src="../../assets/Don-reservas.png" height="200" loading="lazy" />
  </div>
</div>
