<div class="container mt-4">
  <h1>Administrar-Hoteles </h1>
  <button type="button" class="btn btn-primary">Crear Hotel</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Pais</th>
        <th>Estrellas</th>
        <th>Nota Media</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hoteles">
        <td>{{ hotel.id }}</td>
        <td>{{ hotel.nombre }}</td>
        <td>{{ hotel.direccion }}</td>
        <td>{{ hotel.telefono }}</td>
        <td>{{ hotel.pais }}</td>
        <td>{{ hotel.estrellas }}</td>
        <td>{{ hotel.notamedia }}</td>
        <td>{{ hotel.precio }}</td>
        <td>{{ hotel.imagen }}</td>
        <td><button type="button" class="btn btn-warning"><i class="fa-solid fa-pen"></i></button></td>
        <td> <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
