<h1>Hoteles-administración</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Telefono</th>
      <th>Pais</th>
      <th>Estrellas</th>
      <th>NotaMedia</th>
      <th>Precio</th>
      <th>Imagen</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hotel of hoteles">
      <td>{{ hoteles.id }}</td>
      <td>{{ hoteles.nombre }}</td>
      <td>{{ hoteles.direccion }}</td>
      <td>{{ hoteles.telefono }}</td>
      <td>{{ hoteles.pais }}</td>
      <td>{{ hoteles.estrellas }}</td>
      <td>{{ hoteles.notamedia }}</td>
      <td>{{ hoteles.precio }}</td>
      <td>{{ hoteles.imagen }}</td>
      <td><i class="fa-solid fa-file-pen"></i></td>
      <td><i class="fa-solid fa-trash-can"></i></td>
    </tr>
  </tbody>
</table>

