<!-- Botones Parte Superior Derecha -->
<button type="button" class="btn btn-success">Crear</button>
<button type="button" class="btn btn-secondary">Duplicar</button>
<button type="button" class="btn btn-danger">Eliminar</button>
<button type="button" class="btn btn-warning">Warning</button>
<!-- -- -->

<!-- Barra lateral Izquierda -->
<nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
  <a class="navbar-brand" href="#"></a>


  <!-- Parte Perfil con Foto -->
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Imagen de Perfil</h5>
      <!-- Boton Acceder al Perfil -->
      <button type="button" class="btn btn-primary btn-sm">Configurar Perfil</button>
    </div>
  </div>
  <!-- -- -->


<!-- Buscador -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Escriba Aquí" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<!-- -- -->

<!-- Filtros -->
  <nav class="nav nav-pills flex-column">

  <!-- Filtro Localidad -->
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Localidad:
          </a>
    <!-- -- -->
    <!-- Opciones -->
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#Barcelona">Barcelona</a>
      <a class="nav-link ms-3 my-1" href="#Tarragona">Tarragona</a>
    </nav>

  <!-- Filtro Puntuacion -->
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Puntuacion:
          </a>
    <!-- -- -->
    <!-- Opciones -->
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#Estrellas5">5 Estrellas</a>
      <a class="nav-link ms-3 my-1" href="#Estrellas4">4 Estrellas</a>
      <a class="nav-link ms-3 my-1" href="#Estrellas3">3 Estrellas</a>
      <a class="nav-link ms-3 my-1" href="#Estrellas2">2 Estrellas</a>
      <a class="nav-link ms-3 my-1" href="#Estrellas1">1 Estrellas</a>
    </nav>
  </nav>
</nav>
<!-- -- -->

<!-- Mostrar Bases de Datos en el centro -->

<!-- -- -->
<!-- Numeracion Paginas -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<!-- -- -->
