a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.container{
  background-color: #15202B;
}
.notaMedia{
  border: solid 1px;
  border-color: black;
  width: 2vw;
  height: 4vh;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
}
.side{
  background-color: #15202B;
}
