a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.container{
  background-color: #15202B;
}
.navbar{
  border-radius: 1vh;
}
.barra{
  padding-left: 15vh;
}
.notaMedia{
  border: solid 1px;
  border-color: black;
  width: 2vw;
  height: 4vh;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
}
.side{
  border-radius: 2vh;
}
.card-hotel{
  border-radius: 0.7vh;
}
p{
  color:white;
}
