<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a routerLink="/home">
        <img src="../../assets/Don-reservas.png" height="25"
          alt="Black and White Portrait of a Man" loading="lazy" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="#">+34 123456789</a>
          <a class="nav-link" href="#">Contacto</a>

          <div *ngIf="username != null" class="dropdown">
            <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
              role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                alt="Black and White Portrait of a Man" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
              <li>
                <a class="dropdown-item" href="#">{{ username }}</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logOut()">
                  Cerrar sesion
                </a>
              </li>
            </ul>
          </div>
          <a class="nav-link" routerLink="/login" *ngIf="username == null">
            Iniciar sesion
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="row d-flex barra">
    <div class="col mt-2">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name" />
    </div>
    <div class="col mt-2">
      <input type="date" class="form-control" placeholder="Last name" aria-label="Last name" />
    </div>
    <div class="col mt-2">
      <input type="date" class="form-control" placeholder="Last name" aria-label="Last name" />
    </div>
    <div class="col mt-2">
      <button type="button" class="btn btn-primary">Buscar</button>
    </div>
  </div>
  <div class="container-fluid mt-2">
    <div class="row flex-nowrap">
      <div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark side" style="width: 250px;">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Filtros</span>
          </a>
          <ul class="nav nav-pills flex-column mb-auto">
            <p>
              <a data-bs-toggle="collapse" class="nav-link text-white side" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                class="text-light"><span class="ms-2">Precio por noche</span>
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                <label class="form-check-label" for="defaultCheck1">
                  De 50€ a 150€
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" />
                <label class="form-check-label" for="defaultCheck2">
                  De 150€ a 250€
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" />
                <label class="form-check-label" for="defaultCheck3">
                  Más de 250€
                </label>
              </div>
            </div>
            <p class="mt-2">
              <a data-bs-toggle="collapse" class="nav-link text-white side" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample"
                class="text-light"><span class="ms-2">Estrellas</span></a>
            </p>
            <div class="collapse" id="collapseExample2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                <label class="form-check-label" for="defaultCheck1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" />
                <label class="form-check-label" for="defaultCheck2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" />
                <label class="form-check-label" for="defaultCheck3">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" />
                <label class="form-check-label" for="defaultCheck3">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" />
                <label class="form-check-label" for="defaultCheck3">
                  <i class="fa-solid fa-star"></i>
                </label>
              </div>
            </div>
            <p class="mt-2">
              <a data-bs-toggle="collapse" class="nav-link text-white side" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample"
                class="text-light"><span class="ms-2">Valoración</span></a>

            <div class="collapse" id="collapseExample3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                <label class="form-check-label" for="defaultCheck1">
                  Excelente: 9 o más
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" />
                <label class="form-check-label" for="defaultCheck2">
                  Muy bien: de 8 a 9
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" />
                <label class="form-check-label" for="defaultCheck3">
                  Bien: de 7 a 8
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" />
                <label class="form-check-label" for="defaultCheck3">
                  Agradable: de 5 a 7
                </label>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div class="col py-3">
        <div class="card mb-3 bg-dark ms-3" style="max-width: 808px " *ngFor="let hotel of hoteles">
          <div class="row g-0 card-hotel">
            <div class="col-md-4 ">
              <img src="{{ hotel.imagen }}" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div>
                  <h5 class="card-title d-inline text-black">{{ hotel.nombre }}</h5>
                  <div class="card-text notaMedia d-inline float-end text-white">{{ hotel.notamedia }}</div>
                  <p class = "card-text d-inline float-end me-2">Valoracion: </p>

                </div>
                <p >
                  <i *ngIf="hotel.estrellas>=1"class="fa-solid fa-star"></i>
                  <i *ngIf="hotel.estrellas>=2"class="fa-solid fa-star"></i>
                  <i *ngIf="hotel.estrellas>=3"class="fa-solid fa-star"></i>
                  <i *ngIf="hotel.estrellas>=4"class="fa-solid fa-star"></i>
                  <i *ngIf="hotel.estrellas>=5"class="fa-solid fa-star"></i>
                </p>
                <p class="card-text">{{ hotel.pais}}</p>
                <p class="card-text">{{ hotel.direccion }}</p>
                <p class="card-text">Precio: {{ hotel.precio}} €</p>

                <div *ngIf="username != null" class="boton">
                  <button type="button" class="btn btn-primary"routerLink="/reservar">Reservar</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
