<div class="container">
  <h1 class="text-white">Administrar-Clientes</h1>
  <button type="button" class="btn btn-primary mt-2" routerLink="add">Crear cliente</button>
  <table class="table table-dark table-hover mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>DNI</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.dni }}</td>
        <td><button type="button" class="btn btn-warning" routerLink="update/{{cliente.id}}"><i class="fa-solid fa-pen"></i></button></td>
        <td><button type="button" class="btn btn-danger" (click)="delete(cliente)"><i class="fa-solid fa-trash-can"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>

